* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0px;
}

body {
    background-color: rgb(247, 244, 244);
}


/* hiệu ứng hình menu  */

.page-block3 .page-block3-heading {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

.page-block3 .row picture img {
    margin-left: 30%;
    margin-top: 30px;
}

.container .container-heading {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}


/* # */


/* xu ly REPONSIVE */

*:focus {
    outline: none;
}

.search_input {
    height: 35px;
    padding-left: 10px;
    border: auto;
    border-radius: 50px;
    border: 1px solid #d7e0e4;
}

.search_input input {
    padding-top: 3px;
    width: 95%;
    border: none
}

a.menu-item {
    text-decoration: none;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
}

a.menu-item:hover {
    color: rgb(0, 42, 66);
}

#header {
    display: none;
}

#header-mobile {
    display: contents;
}

.menulist_mobile {
    visibility: hidden;
}

.cart-right {
    visibility: hidden;
}

@media (min-width: 765px) {
    #header {
        display: contents;
    }
    #header-mobile {
        display: none;
    }
    .menulist_mobile {
        display: none;
    }
}


/* # */


/* xu lý the A MENU */

#breadcrumbs {
    padding-left: 140px;
}

h4 {
    padding-left: 18px;
}

#breadcrumbs span a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(94, 92, 92);
    text-decoration: none;
}

#breadcrumbs i {
    color: rgb(94, 92, 92);
    font-size: 10px;
}

#breadcrumbs span a:hover {
    color: blue;
}


/* # */


/* Menu NHỎ (chua hoàn chỉnh) */

#page a {
    text-decoration: none;
}

.content_menu span a {
    font-size: 15px;
    color: black;
}

.content_menu {
    width: 1000px;
    margin: auto;
    padding-left: 150px;
}

.content_menu nav ul li {
    list-style-type: none;
}

.content_menu .nav ul li {
    list-style-type: none;
    float: left;
    padding: 13px 50px;
}

.content_menu ul li {
    float: left;
    clear: right;
    padding: 17px;
    font-weight: 600;
    font-size: 100%;
}

.content_menu ul li:hover a {
    color: blue;
}

.content_menu li ul {
    display: none;
    position: absolute;
    margin-left: -17px;
    margin-top: 19px;
}

.content_menu ul li:hover ul {
    display: block;
}

.content_menu ul li:hover {
    padding: 17px;
}


/* xu ly phan LAYOUT IMAGE */

.image-product {
    max-height: 250px;
    min-height: 250px;
    box-sizing: border-box;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.price-product {
    display: flex;
    justify-content: space-between;
    min-height: 49px;
}

.price-product .price_pd_right {
    margin: auto 0;
}

.price_pd_right i.fa {
    display: none;
}

.price_pd_right:hover i.far {
    display: none;
}

.price_pd_right:hover i.fa {
    display: block;
}

.btn_muangay {
    height: 10%;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    transform: translateY(10%);
    opacity: 0;
    transition: ease 0.4s;
    cursor: pointer;
}

.btn_muangay .btn_muangay_coating {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
}

.btn_muangay:hover .btn_muangay_coating {
    opacity: 1;
    animation: disappear 0.3s 1 forwards linear;
}

@keyframes disappear {
    0% {
        width: 100%;
        opacity: 1;
    }
    25% {
        width: 75%;
        opacity: 0.75;
    }
    75% {
        width: 25%;
        opacity: 0.5;
    }
    100% {
        width: 0%;
        opacity: 0;
    }
}

.btn_muangay:hover {
    border: black solid 1px;
    color: black;
}

.product-item:hover .btn_muangay {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.product-item:hover {
    box-shadow: 2px 1px 15px -7px gray, -2px -1px 15px -7px gray;
}

@media (max-width: 765px) {
    .image-product {
        max-height: 150px;
        min-height: 150px;
    }
    .title-product {
        font-size: 14px;
    }
    .btn_muangay {
        font-size: 12px;
    }
}


/* Xử lý css LIÊN HỆ  */

.container-fluid {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 238, 247);
}

.container-fluid h1 {
    text-align: center;
    font-size: 36px;
    padding-top: 10px;
}

.row {
    display: flex;
}

.form .form-contact {
    background-color: white;
    height: 400px;
    width: 850px;
    border-radius: 10px;
}

.form-contact h2 {
    padding: 10px 20px;
}

.block-contact h2 {
    padding: 10px 20px;
}

.form-contact span {
    padding: 0px 20px;
}

.form-group {
    padding: 10px 20px;
}

#form-input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border-color: beige;
    padding-left: 10px;
}

input[type=submit] {
    background: transparent;
    border: 0px;
    text-transform: uppercase;
    padding: 10px 10px;
    background: #3d3b3b;
    border-radius: 20px;
    width: 100%;
    color: rgb(241, 236, 225);
    float: unset;
}

.form .block-contact {
    background-color: white;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    padding-left: 50px;
}

.block-contact li {
    list-style: none;
    padding: 8px;
}

.block-contact li a {
    text-decoration: none;
    color: black;
}

.block-contact i {
    padding-right: 10px;
}


/* Xử lý css HỆ THỐNG */
.row {
    margin: 30px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 238, 247);
    /* display: flex; */
}

.block-contact li {
    list-style: none;
}

h3 {
    text-align: center;
}


/* # */