* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}
:root{
    --color-red: red;
    --color-red: yellow;
    --color-red: green;
    --color-red: blue;
    --color-red: #fff;
    --color-red: #000;
    --color-red: orange;

}

/* input[type=text]{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border: 1px solid #2d9fd9;
        color: #a0d18c;
        width: 250px;
        height: 30px;
        padding-left: 10px;
        }
        
    input[type=text]:focus {
        outline: none;
        border: 1px solid #a0d18c;
        color: #2d9fd9;
    } */

/* ---------------------------------------------------*/

/* SEARCH */

#seach_ux {
    justify-content: center;
    margin-bottom: 50px;
    background-color: #fff;
}

#seach_ux h4, #seach_ux h5 {
    text-align: center;
    padding: 1.5rem 0;
}

#seach_ux .search_input {
    width: 60%;
    margin: auto;
}

#seach_ux .search_input input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border: auto;
    border-radius: 50px;
    border: 1px solid #d7e0e4;
}

#seach_ux .search_input input:focus {
    outline: none;
    border: 1px solid #2c2c2c;
    color: #2d9fd9;
}

#products_suggestion {
    justify-content: space-around;
}

.product_item {
    padding: 12px;
    max-width: 23%;
    box-sizing: border-box;
    position: relative;
    transition: 0.3ms linear;
    overflow: hidden;
    box-sizing: border-box;
}

.product_item p {
    font-size: 12px;
    top: 30px;
    left: 20px;
    position: absolute;
}

.product_item h6 {
    font-size: 10px;
    top: 20px;
    left: 20px;
    position: absolute;
}

.product_item .btn_xem_chi_tiet {
    position: absolute;
    border: 1px black solid;
    padding: 0.5rem;
    left: 79px;
    bottom: 10px;
    opacity: 0;
    animation-duration: 0.3s;
}

.product_item:hover img {
    opacity: 0.8;
    -webkit-transform: scale(1.2);
    transform: scale(1.5);
}

.product_item:hover .btn_xem_chi_tiet {
    opacity: 1;
    animation-name: xuathientutu;
    animation-timing-function: linear;
    cursor: pointer;
    transition: 0.3s;
}

.btn_xem_chi_tiet:hover {
    background-color: rgba(61, 61, 61, 0.945);
    color: #fff;
}

@keyframes xuathientutu {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.xuathien {
    display: block;
}

/* -----------------------------------------------------
 */

/* chitietgiohang
  */

#giohang {
    background-color: #fff;
}

#giohang .container {
    padding: 20px 0;
}

#giohang .chi_tiet_don_hang {}

#giohang .chi_tiet_don_hang .row {
    display: flex;
}

#giohang .chi_tiet_don_hang .row_title div {
    text-transform: uppercase;
    font-weight: 500;
    background-color: rgb(56, 56, 56);
    color: rgb(209, 209, 209);
}

.chi_tiet_don_hang .row .size_1 {
    /* flex-basis: 1; */
    width: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chi_tiet_don_hang .row .size_1  .quality_product{
   display: flex;
   justify-content: space-around;
}
.chi_tiet_don_hang .row .size_1 .choose_color{

}

.chi_tiet_don_hang .row .size_2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.chi_tiet_don_hang .row .size_3 {
    width: 30%;
    display: flex;
    padding-left: 15px;
    /* max-height: 90px; */
}

.chi_tiet_don_hang .row .size_3 .size_3_col-4 {
    width: 40%;
    padding: 20px;
}

.chi_tiet_don_hang .row .size_3 .size_3_col-6 {
    flex: 1;
    line-height: 130px;
}

.thongtin_dathang {
    display: flex;
    margin-top: 30px;
}

.thongtin_dathang .info_order {
    width: 70%;
}

.thongtin_dathang .info_order input {
    width: 48%;
    margin-top: 15px;
    padding: 7px 0 7px 10px;
    border: solid 1px;
    border-radius: 10px;
}

.info_order .btn_last {
    display: flex;
}

.info_order .btn_last .btn_muaspkhac, .info_order .btn_last .btn_dathang {
    text-align: center;
    margin: auto;
    border-radius: 10px;
    font-weight: 400;
    padding: 10px 0;
    cursor: pointer;
}

.info_order .btn_last .btn_dathang {
    width: 40%;
    background-color: hsl(188deg 78% 41%);
    color: white;
}

.info_order .btn_last .btn_muaspkhac {
    width: 50%;
    background-color: rgb(250, 255, 0);
}

.info_order .btn_last .btn_muaspkhac:hover, .info_order .btn_last .btn_dathang:hover {
    background-color: rgb(71, 71, 71);
    color: #fff;
}

.thongtin_dathang .total_order {
    flex: 1;
}

.thongtin_dathang .total_order .tamtinh, .thongtin_dathang .total_order .ship_price, .thongtin_dathang .total_order .total_price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.thongtin_dathang .total_order .tamtinh {
    background-color: rgb(56, 56, 56);
    color: #fff;
}