* {
    padding: 0;
    margin: 0;
}

.container-fluid_1 {
    margin: 0;
    padding: 0;
}
.container-fluid_1 ul span a{
    text-decoration: none;
    color: blue;
}
.row {
    margin: 0px;
}

body {
    background-color: rgb(247, 244, 244);
}

*:focus {
    outline: none;
}

.search_input {
    height: 35px;
    padding-left: 10px;
    border: auto;
    border-radius: 50px;
    border: 1px solid #d7e0e4;
}

.search_input input {
    padding-top: 3px;
    width: 95%;
    border: none
}

a.menu-item {
    text-decoration: none;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
}

a.menu-item:hover {
    color: rgb(0, 42, 66);
}

#header-mobile {
    display: contents;
}

.menulist_mobile {
    visibility: hidden;
}

.cart-right {
    visibility: hidden;
}

@media (min-width: 765px) {
    #header {
        display: contents;
    }
    #header-mobile {
        display: none;
    }
    .menulist_mobile {
        display: none;
    }
}

#hotProduct, #newProduct, #newsPromotion {
    margin-top: -10px;
}

#hotProduct h3, #newProduct h3 {
    margin: 5px auto;
    text-transform: uppercase;
}

#hotProduct .row, #newProduct .row, footer {
    margin: 5px 0;
}

#hotProduct .row .hotProduct_item, #newProduct .row .newProduct_item {
    margin: -5px 0;
}

.row .product-info {
    position: relative;
    overflow: hidden;
}
/*MENU CON*/
.container-menu_2 {
    width: 100%;
    background: white;
    height: 40px;
    padding-left: 400px;
}

.container-menu_2 nav ul {
    padding-left: 0px;
    margin: 0;
    height: 40px;
    list-style-type: none;
}

.container-menu_2 nav ul li {
    list-style-type: none;
}
.container-menu_2 li span {
    padding: 10px 10px;
}
.container-menu_2 nav>ul>li{
    float: left;
    clear: right;
    padding: 3px;
    font-weight: 700;
    font-size: 15px;
}
.container-menu_2 nav>ul li:hover{
    background: black;
    color: white;
    cursor: pointer;
}
.container-menu_2 nav>ul>li ul {
    display: none;
    position: absolute;
    margin-left: -15px;
    margin-top: 14px;
}

.container-menu_2 nav>ul li:hover ul {
    display: block;
}
.container-menu_2 nav>ul li:hover ul li{
    padding: 17px;
    color: black;
    border-bottom: 1px solid #999999;
}
.container-menu_2 nav>ul li:hover ul li:hover a{
    color: black;
}

.container-menu_2 ul {
    display: flex;
    /* text-align: center; */
}
/*SANPHAM*/
.image-product {
    max-height: 250px;
    min-height: 250px;
    box-sizing: border-box;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.price-product {
    display: flex;
    justify-content: space-between;
    min-height: 49px;
}

.price-product .price_pd_right {
    margin: auto 0;
}

.price_pd_right i.fa {
    display: none;
}

.price_pd_right:hover i.far {
    display: none;
}

.price_pd_right:hover i.fa {
    display: block;
}

.btn_muangay {
    height: 10%;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    transform: translateY(10%);
    opacity: 0;
    transition: ease 0.4s;
    cursor: pointer;
}

.btn_muangay .btn_muangay_coating {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
}

.btn_muangay:hover .btn_muangay_coating {
    opacity: 1;
    animation: disappear 0.3s 1 forwards linear;
}

@keyframes disappear {
    0% {
        width: 100%;
        opacity: 1;
    }

    25% {
        width: 75%;
        opacity: 0.75;
    }

    75% {
        width: 25%;
        opacity: 0.5;
    }

    100% {
        width: 0%;
        opacity: 0;
    }
}

.btn_muangay:hover {
    border: black solid 1px;
    color: black;
}

.product-item:hover .btn_muangay {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.product-item:hover {
    box-shadow: 2px 1px 15px -7px gray, -2px -1px 15px -7px gray;
}

@media (max-width: 765px) {
    .image-product {
        max-height: 150px;
        min-height: 150px;
    }
    .title-product { font-size: 14px;}
    .btn_muangay {font-size: 12px;}
}


/*FOOTER*/
#footer {
    padding: 30px 0;
    background-color: black;
    color: blanchedalmond;
}

#footer .footer_chinhsach a {
    color: blanchedalmond;
    text-decoration: none;
}
.product_price
{
    font-size: 16px;
    color: #fe4c50;
    font-weight: 600;
    margin-left: 50px;
}
.product_price span
{
    font-size: 12px;
    margin-left: 10px;
    color: #b5aec4;
    text-decoration: line-through;
}
